sphinx==1.6.7
recommonmark
sphinx_rtd_theme
sphinxcontrib-httpdomain
git+https://github.com/Lingnik/sphinxcontrib-versioning@Lingnik-patch-1
git+ssh://git@github.com/avahq/jsonschema-toolkit#subdirectory=docgenerator
